	{% extends 'base.html' %}

	{% block content %}

	<div class="row">
		{% for value in datos %}
            <div class="col-md-4 portfolio-item" style="margin-top:2%">
                
                <video id="my-video" class="video-js video-responsive" controls preload="auto" width="300" poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
                    <source src="/static/{{ value.video}}" type="video/ogg" />
                    <source src="/static/{{ value.video}}" type="video/webm" />
                    <source src="/static/{{ value.video}}" type='video/mp4'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
                <br>
                <span class="pull">
                    <div class="btn-group">
                        <button type="button" id="l{{ value.video }}" name="{{ value.video }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-thumbs-up"></i></button>
                        <button type="button" class="btn btn-default btn-xs"><b id="like_count{{value.video}}">{{value.Likes}}</b></button>
                    </div>                          
                    <div class="btn-group">
                        <button type="button" id="d{{ value.video }}" name="{{ value.video }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-thumbs-down"></i></button>
                        <button type="button" class="btn btn-default btn-xs"><b id="dislike_count{{value.video}}">{{value.Dislikes}}</b></button>
                    </div>
                </span>
                
                
                    <small><h3><a href="#">{{ value.titulo }}</a></h3> Por: <a href="{% url 'info' %}?u={{value.usuario}}">{{ value.usuario }}</a></small>
                
                <p>{{value.descripcion}}</p>
                
            </div>
        {% endfor %}
    </div>

    	<script>
        $(document).ready(function() {
            $('[id^="l"]').click(function(){
                $.ajax({
                    type: "POST",
                    url: "{% url 'like_video' %}",
                    data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: "json",
                    success: function(response) {
                        $('[id^="like_count'+response.video+'"]').html(response.likes_count);
                    },
                    error: function(rs, e) {
                        alert(rs.responseText);
                    }
                });
            });
        });
        $(document).ready(function() {
            $('[id^="d"]').click(function(){
                $.ajax({
                    type: "POST",
                    url: "{% url 'dislike_video' %}",
                    data: {'dislk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: "json",
                    success: function(response) {
                        $('[id^="dislike_count'+response.video+'"]').html(response.dislikes_count);
                    },
                    error: function(rs, e) {
                        alert(rs.responseText);
                    }
                });
            });
        });
        </script>

	{% endblock %}