	{% extends "base.html" %}
	{% block content %}

	<style>
		.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
		    margin: 0;
		    padding: 0;
		    border: none;
		    box-shadow: none;
		    text-align: center;
		}
		.kv-avatar .file-input {
		    display: table-cell;
		    max-width: 220px;
		}
	</style>
	    	<ul class="nav nav-tabs">
	  			<li class="active"><a href="{% url 'info' %}?u={{datos.0}}">Info</a></li>
	  			<li><a href="{% url 'directorio' %}?u={{datos.0}}">Contenido</a></li>
			</ul>

			<br><br>
			{% if datos.10 %}
			 <center>
        		<div class="fileinput fileinput-new clearfix" data-provides="fileinput">
  					<div class="fileinput-new thumbnail image_perfil" style="width: 310px; height: 200px;">
	  					<img src="/static/{{ datos.10 }}" alt="avatar">
	  				</div>
				</div>
			</center> 

			<br><hr><br>
			{% endif %}

		    <div class="col-md-6">
		    		<div class="btn-group">
						<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-user"></i></button>
						<button type="button" class="btn btn-default">{{ datos.1 }}, {{ datos.2 }}</button>
					</div><br><br>
					<div class="btn-group">
						<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-gift"></i></button>
						<button type="button" class="btn btn-default">{{ datos.4 }}/{{ datos.5 }}/{{ datos.6 }}</button>
					</div><br><br>

				{% if not privacidad %}
						<div class="btn-group">
						  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-credit-card" id="basic-addon1"></i></button>
						  <button type="button" class="btn btn-default">{{ datos.9 }}</button>
						</div>	
				{% endif %}
		    </div>
		    <div class="col-md-6">
			    	<div class="btn-group">
					  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-facetime-video" ></i></button>
					  {% if not datos.12 %}
					  	<button type="button" class="btn btn-default">0</button>
					  {% else %}
					  	<button type="button" class="btn btn-default">{{ datos.12 }}</button>
					  {% endif %}
					</div>
				  	<div class="btn-group">
					  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i></button>
					  <button type="button" class="btn btn-default">{{ datos.11 }}</button>
					</div><br><br>
				{% if not privacidad %}
						<div class="btn-group">
						  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-envelope"></i></button>
						  <button type="button" class="btn btn-default">{{ datos.3 }}</button>
						</div><br><br>
						<div class="btn-group">
						  <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-map-marker">
                        </i></button>
						  <button type="button" class="btn btn-default"><cite title="{{ datos.8 }}">{{ datos.8 }} </cite></button>
						</div>
				{% endif %}
		    </div>

		<!--</div>
	</div>-->

	{% endblock %}